<% if flash.now[:error] %>
    <ul>
    <% flash.now[:error].each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>

<h1>Edit Listing</h1>
<h3>ISBN Number: <%= @listing.isbn_number %></h3>

<%= form_for @listing do |f| %>
    <%= f.fields_for @book do |b| %>
        <div class="field">
            <%= b.label :title %>
            <%= b.text_field :title, required: true %>
        </div>
        <div class="field">
            <%= b.label :author %>
            <%= b.text_field :author, required: true %>
        </div>
        <div class="field">
            <%= b.label :publisher %>
            <%= b.text_field :publisher %>
        </div>
        <%= b.hidden_field :book_id, value: @book.id %>
    <% end %>

    <div class="field">
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01, required: true %>
    </div>
    <%= f.submit %>
<% end %>