<div class="container">
  <h1 class="display-4">All Listings</h1>

  <div class="search">
    <b>Search:</b>
  </div>

  <%= form_tag "/listings", method: :get do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search" %>
  <% end %>

  <%= form_tag "/listings", method: :get do %>
      <%= hidden_field :sorted_a, true %>
      <%= submit_tag "Sort Alphabetically By Book Title" %>
  <% end %>

  <%= form_tag "/listings", method: :get do %>
      <%= hidden_field :sorted_p, true %>
      <%= submit_tag "Sort By Price (Low to High)" %>
  <% end %>

  <h3>Items available for sale</h3>
  <ul>
      <% @listings.each do |listing| %>
          <li><%= link_to listing.book.title, listing_path(listing) %></li>
      <% end %>
  </ul>
</div>