<h1 class="text-center">All Listings</h1>

<div class="text-center">
    <span>
        <%= form_tag "/listings", method: :get do %>
            <%= text_field_tag :search %>
            <%= submit_tag "Search" %>
        <% end %>
    </span>

    <span>
        <%= form_tag "/listings", method: :get do %>
            <%= hidden_field :sorted_a, true %>
            <%= submit_tag "Sort Alphabetically By Book Title" %>
        <% end %>
    </span>

    <span>
        <%= form_tag "/listings", method: :get do %>
            <%= hidden_field :sorted_p, true %>
            <%= submit_tag "Sort By Price (Low to High)" %>
        <% end %>
    </span>
</div>

<h3 class="text-center">Items Available for Sale</h3>
<div class="text-center">
        <% @listings.each do |listing| %>
            <% if listing.book.title %>
                <div><%= link_to listing.book.title, listing_path(listing) %></div>
            <% else %>
                <div><%= link_to "No Title for this Listing", listing_path(listing) %></div>
            <% end %>
        <% end %>
</div>