<% if flash.now[:error] %>
    <ul>
    <% flash.now[:error].each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>

<h1>Create a New Listing</h1>

<%= form_for @listing do |f| %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <div class="field">
        <%= f.label :isbn_number, "13-digit ISBN Number" %>
        <%= f.number_field :isbn_number %>
    </div>
    <div class="field">
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01 %>
    </div>
    <%= f.submit %>
<% end %>





