<% if flash.now[:error] %>
    <ul>
    <% flash.now[:error].each do |error| %>
        <li class="text-center"><%= error %></li>
    <% end %>
    </ul>
<% end %>

<h1 class="text-center">Create a New Listing</h1>

<% if @no_google %>
    <h5><i>Sorry, we couldn't find your book through the Google Books API so please try again.</i></h5>
<% end %>

<%= form_for @listing do |f| %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <div class="field text-center">
        <%= f.label :isbn_number, "Google Books 13-digit ISBN Number (no dashes)" %>
        <%= f.text_field :isbn_number, required: true %>
    </div>
    <div class="field text-center">
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01, required: true %>
    </div>
    <div class="text-center">
        <%= f.submit %>
    </div>
<% end %>





