<h1><%= @listing.book.title %></h1>
<h4>Author: <%= @listing.book.author %></h4>
<h4>Price: <%= @listing.price %></h4>
<br>
<h4>Seller: <%= @listing.user.username %></h4>
<h4>Email: <%= @listing.user.email %></h4>
<br>
<h4>Book details</h4>
<img src="<%= @listing.book.imagelink_thumbnail %>">
<p><%= link_to "View in Google Store", @listing.book.google_store_link %></p>
<p>ISBN number: <%= @listing.book.isbn_number %></p>
<p>Publisher: <%= @listing.book.publisher %></p>
<p>Length (number of pages): <%= @listing.book.page_count %></p>
<p>Average user review (out of 5 stars): <%= @listing.book.average_rating %></p>
<p>Number of reviews: <%= @listing.book.count_of_ratings %></p>
<p>Description: <%= @listing.book.description %></p>

<% if @done_order %>
    <h5>Bought by:</h5>
    <h6><%= @done_order.user.first_name %> <%= @done_order.user.last_name %></h6>
    <h6><%= @done_order.user.username %></h6>
    <h6><%= @done_order.user.email %></h6>
<% elsif @order && @order.listings.include?(@listing) %>
    <%= form_tag "/orders/#{@order.id}", method: :patch do %>
        <%= hidden_field_tag :listing_id, @listing.id %>
        <%= hidden_field_tag :remove, true %>
        <%= submit_tag "Remove from cart" %>
    <% end %>
<% elsif @order %>
    <%= form_tag "/orders/#{@order.id}", method: :patch do %>
        <%= hidden_field_tag :listing_id, @listing.id %>
        <%= hidden_field_tag :add, true %>
        <%= submit_tag "Add to cart" %>
    <% end %>
<% else %>
    <%= link_to 'Edit Listing', edit_listing_path(@listing) %>

    <%= form_tag "/listings/#{@listing.id}", method: :delete do %>
        <%= submit_tag "Delete Listing" %>
    <% end %>
<% end %>