<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h3><%= @user.email %></h3>

<%= link_to 'Edit Profile', edit_user_path(@user) %>


<h2>Your Listings</h2>
<ul>
    <% @user.listings.each do |listing| %>
        <li><%= link_to "#{listing.book.title}", listing_path(listing) %></li>
    <% end %>
</ul>

<% if @user.orders != [] %>
    <h2>Items In Cart</h2>
    <ul>
        <% @user.order_listings.each do |listing| %>
            <li><%= link_to "#{listing.book.title}", listing_path(listing) %></li>
        <% end %>
    </ul>
<% end %>

<%= form_tag "/checkout", method: :post do %>
    <%= hidden_field :checkout, true %>
    <%= submit_tag "Checkout" %>
<% end %>

<%= form_tag "/orders", method: :get do %>
    <%= hidden_field :past, true %>
    <%= submit_tag "Past Orders" %>
<% end %>