<!DOCTYPE html>
<html>
  <head>
    <title>BulldogBookshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/">
        <%= image_tag "brand.png", size: "100x43" %>
      </a>
      <div class="d-flex align-items-end btn-toolbar">
        <div>
          <%= bootstrap_form_tag url: '/login' do |f| %>
            <%= f.submit "Login", class: "btn btn-outline-primary" %>
          <% end %>
        </div>
        <div style="padding-left: 10px;">
          <%= bootstrap_form_tag url: '/signup', class: "pl-4" do |f| %>
            <%= f.submit "Signup", class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
